<h1>Add a New Stylist</h1>

<form action="/stylists" method="post">
  <label for="stylist">Stylist name</label>
  <input id="stylist" name="stylist" type="text">
  <button type="submit">Add Stylist</button>
</form>